<?xml version="1.0" encoding="utf-8" ?>
<odoo>
    <menuitem id="menu_hospital_root" name="Hospital Management">
        <menuitem id="menu_patients" name="Patient Details" sequence="20"
                  action="hospital_management_system.action_hospital_patient"/>
        <menuitem id="menu_doctors" name="Doctor Details" sequence="30"
                  action="hospital_management_system.action_hospital_doctor"/>
        <menuitem id="menu_appointments" name="Appointments" sequence="40"
                  action="hospital_management_system.action_hospital_appointment"/>
    </menuitem>
</odoo>